*__pycache__*
*.fasta
*.gtf
*.gtf.json
*.gtf.gz
*.vcf.gz
*.vcf.gz.tbi
*.cache.tsv
*.DS_store*
setup.sh
.venv/
.python-version
.coverage
test_run_input/
test_run_output/
panthera_out/
*.egg-info*
logs/
*.tmp_venv*
*output*
*input*
